---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<h1>Capacitaciones & Certificaciones en Instalaciones Electricas</h1>
	<p>
		Bienvenido a Mar-Otec, donde ofrecemos capacitaciones y certificaciones especializadas en instalaciones energizadas. Nuestro objetivo es garantizar la seguridad y competencia de los profesionales en el campo eléctrico.
	</p>
</Layout>
