<section class="pt-2 text-white body-font bg-[#101828] sm:bg-gradient-to-b sm:from-gray-800 sm:via-gray-800 sm:to-gray-900 min-h-[600px]">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-col text-center w-full mb-16">
      <h1 class="sm:text-4xl text-3xl font-extrabold mb-4">Validación de Empresas</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-lg text-gray-400">
        Empresas que confían en nosotros para capacitar a sus trabajadores.
      </p>
    </div>
    
    <div class="zoom-in flex flex-wrap justify-center gap-10">
      <!-- Empresa 1 -->
      <div class="w-40 sm:w-48 md:w-56 p-4 hover:scale-102">
        <a href="https://web.gruposaesa.cl/" target="_blank" rel="noopener noreferrer">
        <div class="bg-white rounded-xl shadow-lg p-6 flex flex-col items-center justify-center">
          <img src="/images/grupo-saesa.png" alt="Grupo Saesa" class="w-24 h-24 object-contain mb-3" />
          <p class="text-gray-800 font-medium text-center">Grupo Saesa</p>
        </div>
        </a>
      </div>
      <!-- Empresa 2 -->
      <div class="w-40 sm:w-48 md:w-56 p-4 hover:scale-102">
        <a href="https://www.transelec.cl/" target="_blank" rel="noopener noreferrer">
          <div class="bg-white rounded-xl shadow-lg p-6 flex flex-col items-center justify-center">
            <img src="/images/transelec.png" alt="Transelec" class="w-24 h-24 object-contain mb-3" />
            <p class="text-gray-800 font-medium text-center">Transelec</p>
          </div>
        </a>
      </div>

      <!-- Empresa 3 -->
      <div class="w-40 sm:w-48 md:w-56 p-4 hover:scale-102">
        <a href="https://www.cge.cl/" target="_blank" rel="noopener noreferrer">
          <div class="bg-white rounded-xl shadow-lg p-6 flex flex-col items-center justify-center">
            <img src="/images/cge.png" alt="CGE" class="w-24 h-24 object-contain mb-3" />
            <p class="text-gray-800 font-medium text-center">CGE</p>
          </div>
        </a>
      </div>

      <!-- Empresa 4 -->
      <div class="w-40 sm:w-48 md:w-56 p-4 hover:scale-102">
        <a href="https://www.engie.cl/" target="_blank" rel="noopener noreferrer">
          <div class="bg-white rounded-xl shadow-lg p-6 flex flex-col items-center justify-center">
            <img src="/images/engie.png" alt="ENGIE" class="w-24 h-24 object-contain mb-3" />
            <p class="text-gray-800 font-medium text-center">ENGIE</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
