<section id="contact" class="scroll-mt-30 flex flex-col lg:flex-row justify-between bg-white dark:bg-gray-900 min-h-[859px] px-4 sm:px-6 lg:px-50 py-8 lg:py-16 gap-10 ">
  <!-- Contacto: izquierda -->
  <div class="w-full lg:w-1/2">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-left text-gray-900 dark:text-white">Contáctanos</h2>
    <p class="mb-8 lg:mb-16 font-light text-left text-gray-500 dark:text-gray-400 sm:text-xl">
      Si te interesa algún curso o si tienes alguna duda, ¡no dudes en contactarnos!
    </p>
    <form action="#" class="space-y-8 w-full">
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
        <input type="email" id="email" class="w-full p-2.5 text-sm rounded-lg border bg-gray-50 text-gray-900 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="usuario@ejemplo.com" required>
      </div>
      <div>
        <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Asunto</label>
        <input type="text" id="subject" class="w-full p-3 text-sm rounded-lg border bg-gray-50 text-gray-900 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="Déjanos saber cómo podemos ayudarte" required>
      </div>
      <div>
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mensaje</label>
        <textarea id="message" rows="6" class="w-full p-2.5 text-sm rounded-lg border bg-gray-50 text-gray-900 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="Deja un comentario..."></textarea>
      </div>
      <button type="submit" class="py-3 px-5 text-sm font-medium text-white rounded-lg bg-[#5372F0] hover:bg-[#0A256E] focus:ring-4 focus:outline-none focus:ring-primary-300">Enviar Mensaje</button>
    </form>
  </div>

  <!-- Mapa: derecha -->
  <div class="w-full lg:w-1/2 flex justify-center lg:justify-center">
    <div class="w-full max-w-[500px] h-[300px] sm:h-[400px] lg:h-[600px] rounded-lg shadow-lg overflow-hidden border border-gray-300 dark:border-gray-700">
      <iframe
        loading="lazy"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10935.764515470184!2d-71.6665592294296!3d-35.42452426658535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9665c6a014abd285%3A0x444443c9367d5a75!2sPlaza%20de%20armas%20de%20Talca!5e0!3m2!1ses!2scl!4v1749521632248!5m2!1ses!2scl"
        width="100%"
        height="100%"
        style="border:0;"
        allowfullscreen=""
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</section>
