---
import Facebook from "../assets/svg/facebook.svg";
import LinkedIn from "../assets/svg/linkedin.svg";
import YouTube from "../assets/svg/youtube.svg";
import Instagram from "../assets/svg/instagram.svg";
import MapPin from "../assets/svg/location.svg";
import Phone from "../assets/svg/phone.svg";
---

<header>
  <!-- Header top (verde-azul) -->
  <div class="w-full bg-[#18343b] text-white pt-[18px] pb-[55px]">
    <div
      class="max-w-6xl mx-auto w-full flex items-center justify-between px-4"
    >
      <!-- Left side -->
      <div class="flex items-center justify-start">
        <span>Certificaciones Electricas</span>
      </div>
      <!-- derecha -->
      <div class="flex items-center gap-25">
        <!-- direccion -->
        <div class="flex items-center gap-2">
          <a href="#" class="flex items-center gap-1 text-white size-6">
            <MapPin />
          </a>
          <span class="flex items-center text-white">Direccion</span>
        </div>
        <!-- telefono -->
        <div class="flex items-center gap-2">
          <a href="#" class="flex items-center gap-1 text-white size-6">
            <Phone />
          </a>
          <span class="flex items-center gap-1 text-white">+569 1234 5678</span>
        </div>
        <!-- redes -->
        <div class="flex gap-4">
          <a
            href="https://facebook.com"
            target="_blank"
            class="size-7 hover:scale-125 transition"
          >
            <Facebook />
          </a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            class="size-7 hover:scale-125 transition"
          >
            <LinkedIn />
          </a>
          <a
            href="https://www.youtube.com"
            target="_blank"
            class="size-7 hover:scale-125 transition"
          >
            <YouTube />
          </a>
          <a
            href="https://www.instagram.com/joaquiiv/"
            target="_blank"
            class="size-7 hover:scale-125 transition"
          >
            <Instagram />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Header bottom (barra roja sticky, centrada y con logo) -->
  <div
    class="header-bottom absolute z-20 left-1/2 transform -translate-x-1/2 top-[60px] w-full max-w-[1200px] font-['Montserrat'] text-[16px] leading-[1.6] box-border"
  >
    <div class="container w-full">
      <div
        class="header-bottom-row flex items-center justify-between bg-[#D62E4C]"
      >
        <div
          class="header-logo flex items-center justify-center pt-[15px] pr-[60px] pb-[15px] pl-[40px] bg-white [clip-path:polygon(0px_0px,100%_0%,82.68%_101.20%,0px_100%)]"
        >
          <a href="#">
            <img src="/images/logo.webp" alt="Construction" class="h-12" />
          </a>
          
        </div>
        <nav class="header-nav block">
          <ul class="flex gap-8">
            <li>
              <a
                class="anchor-link hover:text-[#ff8906] transition"
                href="#s-about">About us</a
              >
            </li>
            <li>
              <a
                class="anchor-link hover:text-[#ff8906] transition"
                href="#s-services">Services</a
              >
            </li>
            <li>
              <a
                class="anchor-link hover:text-[#ff8906] transition"
                href="#s-gallery">Gallery</a
              >
            </li>
            <li>
              <a
                class="anchor-link hover:text-[#ff8906] transition"
                href="#s-team">Our team</a
              >
            </li>
            <li>
              <a
                class="anchor-link hover:text-[#ff8906] transition"
                href="#s-testimonials">Testimonials</a
              >
            </li>
            <li>
              <a
                class="anchor-link hover:text-[#ff8906] transition"
                href="#s-contact">Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
