<header class="fixed top-0 w-full text-[#fffffe] mx-auto bg-[#0f0e17] z-50">
    <nav class="flex items-center px-6 py-7 text-sm font-bold justify-between max-w-6xl mx-auto">
        <div class="hidden md:flex flex-row gap-8 justify-start">
            <img src="/images/logo.webp" alt="Mar-otec" class="w-15 h-15 inline-block" />
            <a href="/" class="inline-block my-auto text-base" >Inicio</a>
            <a href="#services" class="inline-block my-auto text-base" >Servicios</a>
            <a href="/" class="inline-block my-auto text-base" >Clientes</a>
             <a href="/" class="inline-block my-auto text-base" >Sobre Nosotros</a>
            <a href="/" class="inline-block my-auto text-base" >Contacto</a>
        </div>
        <div class="hidden md:flex flex-row justify-end gap-8">
            <a role="button" href="/" class="bg-[#ff8906] text-base font-bold text-[#fffffe] px-5 py-2 rounded hover:bg-[#B56104] transition w-fit">Inscribete</a>
        </div>
    </nav>

</header>