---
import Services from "../assets/svg/services.svg";
import Obras from "../assets/svg/obras.svg";
import Mantenimiento from "../assets/svg/mantenimiento.svg";
---



<section
  class="relative bg-[url(/images/hero.webp)] bg-cover bg-center bg-no-repeat h-screen flex items-center justify-center text-center"
>
  <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black"></div>
  <div class="relative z-10 px-4 sm:px-8 max-w-4xl -mt-30">
    <p class="text-lm text-white uppercase text-gray-300 tracking-widest mb-2">Mar-Otec</p>
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-white leading-tight">
      <span class="text-[#5372F0]">Capacitación</span> real para Entornos energizados<br/>
    </h1>

    <div class="mt-8">
      <a
        href="#services"
        class="inline-block bg-[#5372F0] hover:bg-[#0A256E] text-white text-lg px-8 py-3 rounded transition"
      >
        Ver Servicios
      </a>
    </div>

    <!-- Slider dots (estáticos) -->
    <div class="flex justify-center mt-6 space-x-2">
      <span class="w-3 h-3 bg-[#5372F0] rounded-full"></span>
      <span class="w-3 h-3 bg-white rounded-full opacity-50"></span>
      <span class="w-3 h-3 bg-white rounded-full opacity-50"></span>
    </div>
  </div>
</section>

