---
import Flecha from '../assets/svg/flecha.svg';
---

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<section
  id="services"
  class="min-h-screen flex items-center justify-center bg-[linear-gradient(#ECEFFE,#CED6FB)]"
>

  
  <!-- CARDS DE SERVICIOS -->
  <div class="container swiper">
    <div class="card-wrapper flex items-center justify-center min-h-screen">
      <ul class="card-list swiper-wrapper">
        <li class="card-item swiper-slide">
            <a href="#" class="group block w-[400px] bg-white p-[18px] rounded-[12px] no-underline border-[2px] border-transparent hover:border-[#5372F0] transition-all duration-300 ease-in-out">
              <img src="/images/hero.webp" alt="card image" class="w-full aspect-[16/9] object-cover rounded-[10px]">
              <h3 class="my-5 text-lg  md:text-xl font-bold">Servicio 1</h3>
              <p class="text-lg md:text-xl text-[#a7a9be]">Descripción del servicio 1.</p>
              <button><Flecha class="h-[35px] w-[35px] mt-[30px] mb-[5px] rounded-full text-[#5372F0] cursor-pointer border border-[#5372F0] transform rotate-[-45deg] group-hover:bg-[#5372F0] group-hover:text-white transition-colors" /></button>
            </a>    
        </li>
        <li class="card-item swiper-slide">
            <a href="#" class="group block w-[400px] bg-white p-[18px] rounded-[12px] no-underline border-[2px] border-transparent hover:border-[#5372F0] transition-all duration-300 ease-in-out">
              <img src="/images/hero.webp" alt="card image" class="w-full aspect-[16/9] object-cover rounded-[10px]">
              <h3 class="my-5 text-lg  md:text-xl font-bold">Servicio 2</h3>
              <p class="text-lg md:text-xl text-[#a7a9be]">Descripción del servicio 2.</p>
              <button><Flecha class="h-[35px] w-[35px] mt-[30px] mb-[5px] rounded-full text-[#5372F0] cursor-pointer border border-[#5372F0] transform rotate-[-45deg] group-hover:bg-[#5372F0] group-hover:text-white transition-colors" /></button>
            </a>    
        </li>
        <li class="card-item swiper-slide">
            <a href="#" class="group block w-[400px] bg-white p-[18px] rounded-[12px] no-underline border-[2px] border-transparent hover:border-[#5372F0] transition-all duration-300 ease-in-out">
              <img src="/images/hero.webp" alt="card image" class="w-full aspect-[16/9] object-cover rounded-[10px]">
              <h3 class="my-5 text-lg  md:text-xl font-bold">Servicio 3</h3>
              <p class="text-lg md:text-xl text-[#a7a9be]">Descripción del servicio 3.</p>
              <button><Flecha class="h-[35px] w-[35px] mt-[30px] mb-[5px] rounded-full text-[#5372F0] cursor-pointer border border-[#5372F0] transform rotate-[-45deg] group-hover:bg-[#5372F0] group-hover:text-white transition-colors" /></button>
            </a>    
        </li>
        <li class="card-item swiper-slide">
            <a href="#" class="group block w-[400px] bg-white p-[18px] rounded-[12px] no-underline border-[2px] border-transparent hover:border-[#5372F0] transition-all duration-300 ease-in-out">
              <img src="/images/hero.webp" alt="card image" class="w-full aspect-[16/9] object-cover rounded-[10px]">
              <h3 class="my-5 text-lg  md:text-xl font-bold">Servicio 4</h3>
              <p class="text-lg md:text-xl text-[#a7a9be]">Descripción del servicio 4.</p>
              <button><Flecha class="h-[35px] w-[35px] mt-[30px] mb-[5px] rounded-full text-[#5372F0] cursor-pointer border border-[#5372F0] transform rotate-[-45deg] group-hover:bg-[#5372F0] group-hover:text-white transition-colors" /></button>
            </a>    
        </li>
        <li class="card-item swiper-slide">
            <a href="#" class="group block w-[400px] bg-white p-[18px] rounded-[12px] no-underline border-[2px] border-transparent hover:border-[#5372F0] transition-all duration-300 ease-in-out">
              <img src="/images/hero.webp" alt="card image" class="w-full aspect-[16/9] object-cover rounded-[10px]">
              <h3 class="my-5 text-lg  md:text-xl font-bold">Servicio 5</h3>
              <p class="text-lg md:text-xl text-[#a7a9be]">Descripción del servicio 5.</p>
              <button><Flecha class="h-[35px] w-[35px] mt-[30px] mb-[5px] rounded-full text-[#5372F0] cursor-pointer border border-[#5372F0] transform rotate-[-45deg] group-hover:bg-[#5372F0] group-hover:text-white transition-colors" /></button>
            </a>    
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>


  <!-- Swiper bundle desde CDN -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  
  <script is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.card-wrapper', {
  loop: true,

  //pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  })
  });
  </script>

</section>
