<section id="services" class="w-full min-h-screen bg-[#fffffe] py-40 px-6 text-[#0f0e17]">
    <div class="max-w-6xl mx-auto">


        <!-- TÍTULO -->
        <div class="mb-10">
            <h2 class="text-4xl md:text-6xl font-bold mb-4">Nuestros Servicios</h2>
        </div>

        <!-- Carrusel de servicios-->
        <div class="relative py-12">

            <!-- FLECHA IZQUIERDA (decorativa por ahora) -->
            <button class="absolute left-0 top-1/2 -translate-y-1/2 z-10 bg-gray-200 p-2 rounded-full shadow-md bg-[#ff8906] hover:bg-[#ff8906] cursor-pointer transition-colors duration-200 px-4">
                <span class="text-lg">←</span>
            </button>


            <!-- Contenedor de tarjetas -->
            <div class="flex overflow-x-auto gap-6 no-scrollbar scroll-smooth px-5 justify-center">
                <!-- TARJETA 1-->
                <div class="min-w-[340px] max-w-[340px] h-[420px] bg-[#0f0e17] rounded-lg shadow-md overflow-hidden flex-shrink-0">
                    <!-- Imagen con efecto hover -->
                    <div class="relative h-[240px] group">
                        <img src="/images/hero.webp" alt="Electrica" class="object-cover w-full h-full transition duration-300 group-hover:brightness-75" />
                        
                        <!-- Botón al hacer hover -->
                        <button class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                        <span class="bg-[#001F54] text-white px-7 py-3 rounded-lg text-sm font-semibold cursor-pointer">Más información</span>
                        </button>
                    </div>

                    <!-- Texto inferior -->
                    <div class="flex flex-col justify-center items-start px-5 py-4">
                        <h3 class="text-lg font-bold text-[#fffffe] mb-1">Electrica</h3>
                        <p class="text-sm text-[#a7a9be]">lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>

                <!-- TARJETA 2-->
                <div class="min-w-[340px] max-w-[340px] h-[420px] bg-[#0f0e17] rounded-lg shadow-md overflow-hidden flex-shrink-0">
                    <!-- Imagen con efecto hover -->
                    <div class="relative h-[240px] group">
                        <img src="/images/hero.webp" alt="Electrica" class="object-cover w-full h-full transition duration-300 group-hover:brightness-75" />
                        
                        <!-- Botón al hacer hover -->
                        <button class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                        <span class="bg-[#001F54] text-white px-7 py-3 rounded-lg text-sm font-semibold cursor-pointer">Más información</span>
                        </button>
                    </div>

                    <!-- Texto inferior -->
                    <div class="flex flex-col justify-center items-start px-5 py-4">
                        <h3 class="text-lg font-bold text-[#fffffe] mb-1">Electrica</h3>
                        <p class="text-sm text-[#a7a9be]">lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>

                <!-- TARJETA 3-->
                <div class="min-w-[340px] max-w-[340px] h-[420px] bg-[#0f0e17] rounded-lg shadow-md overflow-hidden flex-shrink-0">
                    <!-- Imagen con efecto hover -->
                    <div class="relative h-[240px] group">
                        <img src="/images/hero.webp" alt="Electrica" class="object-cover w-full h-full transition duration-300 group-hover:brightness-75" />
                        
                        <!-- Botón al hacer hover -->
                        <button class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300">
                        <span class="bg-[#001F54] text-white px-7 py-3 rounded-lg text-sm font-semibold cursor-pointer">Más información</span>
                        </button>
                    </div>

                    <!-- Texto inferior -->
                    <div class="flex flex-col justify-center items-start px-5 py-4">
                        <h3 class="text-lg font-bold text-[#fffffe] mb-1">Electrica</h3>
                        <p class="text-sm text-[#a7a9be]">lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>

                <!-- FLECHA DERECHA -->
                <button class="absolute right-0 top-1/2 -translate-y-1/2 z-10 bg-gray-200 p-2 rounded-full shadow-md bg-[#ff8906] hover:bg-[#ff8906] cursor-pointer transition-colors duration-200 px-4">
                    <span class="text-lg font-bold">→</span>
                </button>

            </div>

        </div>

    </div>



</section>